<!DOCTYPE html>
<html>
  <head>
    <title>Home | {{ username }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Homepage for user: {{ username }}</h1>
    {{#each notifications}}
		{{> notification_partial}}
	{{/each }}
  </body>
</html>
