<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>{{ title }}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato|Montserrat">
    <link rel="stylesheet" href="css/animations.css" >
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/nav.css'/>
    <link rel='stylesheet' href='/css/404.css'/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/nav.js"></script>
  </head>
  <body>
    <!-- Navigation -->
    {{> navbar}}
    <!-- End Navigation -->
    <div class="container">
      <div class="row text-center error-box">
          <div class="error-img">
            <img alt="404 error" src="/img/error-img.png" />
          </div>
          <div class="">
            <span class="ohh">Ohhh.....</span>Something went wrong here.
          </div>
        </div>
    </div>
  </body>
</html>