<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/css/style.css' />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    	<div class="row r0">
    		<div class="col-md-3 col-sm-4">
    		Save
    		</div>
    		<div class="col-md-9 col-sm-8">
    		Event details
    		</div>
    	</div>
    	<div class="row r1">
    		<div class="col-md-3 col-sm-4">
    		People
    		</div>
    		<div class="col-md-9 col-sm-8">
    		Grid
    			<div class="calendar-panel">
    			Calendar
    			</div>
    		</div>
    	</div>
    </div>
  </body>
</html>
