<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/meeting.css'/>
    <link rel='stylesheet' href='/css/bootstrap-datepicker.standalone.min.css'/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/js/meeting.js'/></script>
    <!-- Datepicker: http://bootstrap-datepicker.readthedocs.org/en/latest/# -->
    <script type='text/javascript' src='/js/bootstrap-datepicker.min.js'/></script>
  </head>
  <body>
    <div class="container">
        <div id="test-div">
            <button id="b1">Add info</button>
            <button id="b2">Add error</button>
            <button id="b3">Add warning</button>
        </div>
        <div id="alert-panel">
        </div>
    	<div class="row row1">
    		<div class="col-md-3 col-sm-4">
                Save
    		</div>
    		<div class="col-md-9 col-sm-8">
                Event details
    		</div>
    	</div>
    	<div class="row row2">
    		<div class="col-md-3 col-sm-4">
    		  People
    		</div>
    		<div class="col-md-9 col-sm-8">
                <div class="row">
                    <span class="tab-btn one active" href="#tab1">Tab1</span>
                    <span class="tab-btn two" href="#tab2">Tab2</span>
                    <span class="tab-btn three" href="#tab3">Tab3</span>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane active">
                            <div class="grid-pics-panel">
                                <div class="grid-top-left">
                                  <!-- <input type="date" min="2016-01-16"></input> -->
                                  <div class="grid-date-panel">
                                    <input class="dp" id="dp1" placeholder="From">
                                    <input class="dp" id="dp2" placeholder="To">    
                                  </div>
                                  <div class="btn blue-linear">
                                      <i class="fa fa-refresh"></i>
                                  </div>
                                </div>
                                <div class="grid-top-right">
                                    <div class="grid-person">
                                        <p class="grid-name">Homer Simpson badfadfads </p>
                                        <div class="person-frame">
                                            <img src="/img/default-user-pic.jpg" alt="pic">
                                        </div>
                                    </div>
                                    <div class="grid-person">
                                        <p class="grid-name">Homer Simpson badfadfads </p>
                                        <div class="person-frame">
                                            <img src="/img/default-user-pic.jpg" alt="pic">
                                        </div>
                                    </div>
                                    <div class="grid-person">
                                        <p class="grid-name">Homer Simpson badfadfads </p>
                                        <div class="person-frame">
                                            <img src="/img/default-user-pic.jpg" alt="pic">
                                        </div>
                                    </div>
                                    <div class="grid-person">
                                        <p class="grid-name">Homer Simpson badfadfads </p>
                                        <div class="person-frame">
                                            <img src="/img/default-user-pic.jpg" alt="pic">
                                        </div>
                                    </div>
                                    <div class="grid-person">
                                        <p class="grid-name">Homer Simpson badfadfads </p>
                                        <div class="person-frame">
                                            <img src="/img/default-user-pic.jpg" alt="pic">
                                        </div>
                                    </div>
                                    <div class="grid-person">
                                        <p class="grid-name">Homer Simpson badfadfads </p>
                                        <div class="person-frame">
                                            <img src="/img/default-user-pic.jpg" alt="pic">
                                        </div>
                                    </div>
                                    <div class="grid-person">
                                        <p class="grid-name">Homer Simpson badfadfads </p>
                                        <div class="person-frame">
                                            <img src="/img/default-user-pic.jpg" alt="pic">
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="grid-panel">
                                <div class="grid-panel2">
                                	<div class="grid-side-btn left btn active">
                                        <i class="fa fa-caret-left"></i>
                                    </div>
                                    <div class="grid-side-btn right btn">
                                        <i class="fa fa-caret-right"></i>
                                    </div>
                                    <div class="calendar-panel">
                                        <div class="calendar-header">
                                            <div id="tl">
                                                <div class="h-col time"><span>&nbsp;</span></div>
                                            </div>
                                            <div id="tr">
                                                <div class="h-col">Mon 11/1</div>
                                                <div class="h-col">Tue 12/1</div>
                                                <div class="h-col">Wed 13/1</div>
                                                <div class="h-col">Thu 14/1</div>
                                                <div class="h-col">Fri 15/1</div>
                                                <div class="h-col">Sat 16/1</div>
                                                <div class="h-col">Sun 17/1</div>
                                                <div class="h-col">Mon 18/1</div>
                                            </div>
                                        </div>
                                        <div class="calendar-content">
                                            <div id="bl">
                                                <div class="c-col time">
                                                    <!-- <div class="c-row">00:00</div>
                                                    <div class="c-row thirty"></div>
                                                    -->
                                                </div>
                                            </div>
                                            <div id="br">
                                                <div class="c-col">
                                                    <div class="c-row">12</div>
                                                    <div class="c-row">34</div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                </div>
                                                <div class="c-col">
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                </div>
                                                <div class="c-col">
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                </div>
                                                <div class="c-col">
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                </div>
                                                <div class="c-col">
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                </div>
                                                <div class="c-col">
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                </div>
                                                <div class="c-col">
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                </div>
                                                <div class="c-col">
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                    <div class="c-row"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane">
                            Tab2
                        </div>
                        <div id="tab3" class="tab-pane">
                            Tab3
                        </div>                        
                    </div>
                </div>
    		</div>
    	</div>
    </div>
  </body>
</html>
