<!DOCTYPE html>
<html>
  <head>
    <title>Home | {{ username }}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Homepage for user: {{ username }}</h1>
  </body>
</html>
