<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/dashboard.css' />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row meeting-row">
        <div class="row-fluid col-md-12">
          <h2 class="dashboard-header">My Meetings</h2>
          <button type="button" class="btn btn-default" id="btn-meeting">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Meeting
          </button>
        </div>
        <!-- Meeting 1 -->
        <div class="col-md-3 col-sm-6 meeting-container">
          <button type="button" class="btn btn-default meeting-options">
              <i class="fa fa-ellipsis-v"></i>
          </button>
          <div class="meeting">
            <div class="meeting-info">
              <p class="meeting-name"> Really Long Meeting Name Comes </p>
              <p class="meeting-time"> Sat, Jan 8 at 11am </p>
            </div>
            <div class="meeting-organizer">
              <img class="organizer-img" src="/img/default-user-pic.jpg" alt="User Profile Picture">
            </div>
            <div class="meeting-location">
              <p> <a href="#"> <i class="fa fa-map-marker"></i> </a> 32 Vassar street, Cambridge, MA </p>
            </div>
            <div class="meeting-descrpt">
              <p> Meeting Description </p>
            </div>
            <div class="participants-row">
              <a href="#" class="team-link">
                <div class="circle team-overlay-circle">
                  <img class="participant-img" src="/img/default-user-pic.jpg" alt="User Profile Picture" />
                </div>
              </a>
            
              <a href="#" class="team-link">
                <div class="circle">
                  <img class="participant-img" src="/img/default-user-pic.jpg" alt="User Profile Picture" />
                </div>
              </a>
              
              <a href="#" class="team-link">
                <div class="circle">
                    <img class="participant-img" src="/img/default-user-pic.jpg" alt="User Profile Picture" />
                </div>
              </a>
              <small>+10</small>
            </div>
          </div>
        </div>
        <!-- Meeting 2 -->
        <div class="col-md-3 col-sm-6 meeting-container">
          Meeting 2
        </div>
        <!-- Meeting 3 -->
        <div class="col-md-3 col-sm-6 meeting-container">
          Meeting 3
        </div>
        <!-- Meeting 4 -->
        <div class="col-md-3 col-sm-6 meeting-container">
          Meeting 4
        </div>
      </div>
      <div class="row">
        <!-- Notifications -->
        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1">
          Notifications
        </div>
        <!-- Connections -->
        <div class="col-md-4 col-md-offset-0 col-sm-5 col-sm-offset-0">
          Connections
        </div>
      </div>
    </div>
  </body>
</html>
