/*~~~~~~ Start of debug CSS ~~~~~~*/
/* Comment out this section after debugging */
div {
	border: 1px solid #ccc;
}

.row, .row > div {
	min-height: 50px;
}

/*~~~~~~ End of debug CSS ~~~~~~*/

.dashboard-header {
  text-align: center;
}
.participant-img {
    width:30px;
    height:30px;
    position: relative;
    z-index: 20;
    border-radius: 50%;
}

.organizer-img {
    width:100%;
    height:100%;
    position: relative;
    z-index: 20;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.circle {
    border-radius: 50%;
    display: block;
}

#btn-meeting {
  position: absolute;
  top: 5px;
  right: 5px;
}

.meeting-row {
  margin-bottom: 10px;
}

.meeting-container {
  padding: 5px;
}

.meeting {
  margin: 12px;
  position: relative;
}

.meeting-info { 
  height: 70px;
  margin-right: 70px;
}

.meeting-info > p {
/*4 lines below make ellipsis for text*/ 
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 42px;
  /*font-size: 14px;*/
  line-height: 20px;

  /*overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 100%;*/
}

.meeting-organizer {
  position: absolute;
  width:70px;
  height: 70px;
  top: 0;
  right: 0;
}

.meeting-location {
  clear: both;
}

.meeting-descrpt {
  height: 60px;
  max-height: 100px;
  padding: 0px 10px 0px 10px;
}

.meeting-options {
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 23px;
    padding: 5px;
}

.meeting-name {
  font-weight: bold;
  font-size: 25px;
}

.meeting-time {
  font-style: italic;
}

.fa-map-marker {
  font-size: 20px;
  color: #E53935;
}