/* Global Styles */
html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
}

.intro-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-shadow: black 3px 1px 3px;
}
/*end Global Styles*/

/* Overwrite navbar */
.navbar-default {
	border-color: #34495e;
}
/* end overwite navbar*/

/* Full Page Image <div class="header"> Area */
.intro {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url('../img/bg1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/*
		Disable nice scrolling effect in chrome due to bug that exists in Chrome on mac retina display.
		Further details here: http://stackoverflow.com/questions/23571578/chrome-issue-with-background-attachment-fixed-and-position-fixed-elements;
	*/
.intro, #pre-team-pic, #pre-footer-pic {
        background-attachment: scroll !important;
    }
}

.intro-text h1 {
  padding: 0;
  margin: 0;
  font-size: 5em;
  font-weight: 300;
}

.intro-text h4 {
	font-size: 20px;
	letter-spacing: 1px;

}

#login-btn {
  margin-top: 30px;
  text-shadow: none;
  border-radius: 5px;
  font-size: 17px;
  color: white;
  background-color: #EF5350;
  padding: 10px;
  transition: 0.2s;
  text-decoration: none;
  border-bottom: 4px solid #C34644;
  display: inline-block;
}

#login-btn:hover, #login-btn:focus {
	background-color: #F96968;
  box-shadow: 0 0 15px #fcf8e3;
}

#login-text {
	font-size: 20px;
	padding: 2px 9px 2px 2px;
}
/* end Full Page Image <div class="header"> Area */

/*Summary*/
#post-home-summary {
    background-color: #7898B7;
    text-align: center;
    color: white;
    padding: 60px 0px;
    margin: auto;
}

#post-home-summary p {
  font-size: 22px;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5px;
}
/*end Summary*/

/* How it works*/
.how-to {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.how-to h3 {
	font-size: 16px;
	color: #4D5055;
	text-transform: uppercase;

}

.how-to p {
	text-align: left;
	font-size: 13px;
	/*color: #8E8F90;*/
	padding-bottom: 15px;
	letter-spacing: 1.5px;
	line-height: 16px;
}

.howtopics {
	margin-bottom: 30px;
}

#howto1 {
  height: 261px;
  box-shadow: 3px 4px 10px #CACACA;
}

#howto2 {
	width: 518px;
  height: 408px;
  box-shadow: 3px 4px 10px #CACACA;
}

#howto3 {
	width: 298px;
	height: 211px;
	box-shadow: 3px 4px 10px #CACACA;
}

/* end How it works*/

/* Team*/
.head-section {
  padding-bottom: 30px;
  display: block;
  /*position: relative;*/
  /*z-index: 120;*/
}

.section-header {
	margin: 60px 0 25px 0;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 1px;
}

.head-section i {
	margin-bottom: 20px;
}

.section-divider {
  margin-top: 15px;
  margin-bottom: 50px;
  width: 40%;
  border: 1px solid #EF5350;
}

.boxed-grey {
  background: #f9f9f9;
  padding: 20px;
  position: relative;
  width: 270px;
  height: 290px;
  margin: auto;
}

.team-row {
  width: 85%;
  position: relative;
  margin: 0 auto;
}

.person-holder {
  margin-bottom: 50px;
  text-align: center;
}

a.team-link {
  text-decoration: none;
  display: inline-block;
}

.team-link > .avatar {
  width: 185px;
  height: 185px;
  /* z-index: 10; */
  text-align: center;
}

.avatar > img {
	border: 10px solid transparent;
}

.avatar > img:hover, .avatar > img:focus {
	border-color: #7898B7;
}

.person-img {
  width:100%;
  height:100%;
  position: relative;
  z-index: 20;
  border-radius: 50%;
}

.inner h5 {
	margin: 0 0 30px;
	font-size: 17px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: #676767;
}
/* end Team*/

/* pre-*** pic*/
#pre-team-pic{
	height: 500px;
  background: url('../img/team.jpg') no-repeat center center fixed; 
  background-size: cover;
}

#pre-footer-pic{
  height: 600px;
  background: url('../img/mit-dome-night.jpg') no-repeat center fixed; /* source: http://netimpact.mit.edu/*/
  background-size: cover;
}

@media (max-width: 1024px) { /* Phones and tablets */
  /* This changes the behavior of the images from "fixed" to "scroll". This ensures consistency
  across all mobile devices because iphone and ipad don't allow fixed background images */

  #home, #pre-team-pic, #pre-footer-pic, .intro {
    background-attachment: scroll; 
  }
}

@media (max-width: 767px) { /* Phones*/
  #pre-team-pic, #pre-footer-pic {
      height: 400px;
  }
}

/* end pre-*** pic*/

/* Share*/

#share a {
    text-decoration: none;
}

#share h2 {
	width: 70%;
	margin: 30px auto 20px auto;
  font-weight: 200;
  font-size: 2em;
  line-height: 35px;
  color: #444444;
}

#share p {
	font-size: 12px;
	letter-spacing: 1.5px;
	font-family: 'Lato', sans-serif;
	line-height: 16px;
	padding-bottom: 10px;
}

.share-div {
	
}

/*end Share*/

/*Footer */
.footer {
	color: #F5F5F5;
  padding: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-color: #34495e;
}

.footer a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}
/*end Footer*/
