.m-top {
	height: 50px;
}

#m-details-btns {
	position: relative;
	bottom: -13px;
}

.m-top span {
	padding: 2px;
    width: 75px;
    font-size: 14px;
    text-align: left;
}

.m-top i {
	float: left;
    position: relative;
    padding: 3px;
    padding-right: 5px;
}

#save-btn {
	color: white;
	margin-right: 10px;
	border: 1px solid #1565C0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}

#save-btn:hover, #save-btn:focus {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,0d47a1+100 */
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(13,71,161,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(13,71,161,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(13,71,161,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#0d47a1',GradientType=0 ); /* IE6-9 */
}

#save-btn i {
	color: white;
}

#cancel-btn {
	color: #aaa;
	background-color: #fff;
	border: 1px solid #aaa;
}

.m-top

.btn, .btn.active {
	box-shadow: none;
}

.tab-btn {
    background-color: #ddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 70px;
    border: 1px solid #aaa;
    border-bottom: 0;
    position: relative;
    z-index: 30;
    display: inline-block;
    text-align: center;
    cursor: default;
    height: 27px;
    padding: 5px 10px;
    margin: auto;
    top: 1px;
}

.tab-btn.two {
	left: -10px;
	z-index: 20;
}

.tab-btn.three {
	left: -20px;
	z-index: 10;
}

.tab-btn:hover, .tab-btn:focus {
	background-color: #eee;
	cursor: pointer;
}

.tab-btn.active {
	z-index: 50;
	background-color: #fff;
	top: 1px;
	cursor: default;
}

.tab-content {
	width: 100%;
	border: 1px solid #aaa;
	background-color: #fff;
	margin-bottom: 20px;
	position: relative;
	z-index: 40;
}

.tab-container {
	padding-left: 10px;
}

.grid-pics-panel {
	height: 86px;
}

.grid-top-left {
	width: 147px;
	height: 80px;
	text-align: center;
	padding-top: 5px;
	margin: 0;
	float: left;
	position: relative;
}

.grid-date-panel {
	width: 80px;
    height: 80px;
    float: left;
    position: relative;
    text-align: center;
    margin: 3px;
    padding: 0;
    margin-left: 10px;
}

.grid-top-left input {
	margin: 2px auto;
    padding: 2px 3px;
    border: 1px solid #999;
    font-size: 14px;
}

.grid-top-left p {
	font-size: 14px;
	margin: 2px auto;
}

.grid-top-left .btn {
	width: 50px;
    height: 67px;
    border-radius: 7px;
    background-image: none;
    background-color: white;
    border: 1px solid #999;
    margin: 0 auto;
    font-size: 20px;
    border-color: #008CB0;
    color: #008cc9;
    text-align: center;
    float: left;
    top: 4px;
    position: relative;
    padding-top: 17px;
}


.grid-top-left .btn:hover, .grid-top-left .btn:focus {
	background-color: #008cc9;
	color: white;
}

.grid-top-right {
    position: relative; 
    overflow-x: auto;
    max-width: 100%;
    height: 80px;
    white-space: nowrap;
    overflow-y: hidden;
    border: 1px solid #ccc;
    padding: 1px;
    margin: 3px;
}

.grid-person {
	width: 90px;
	height: 90px;
	padding-top: 2px;
	text-align: center;
	margin: 0 5px;
	display: inline-block;
}

.grid-person img {
	border-radius: 50px;
	border: 1px solid #999;
	position: relative;
	width: 40px;
	height: 40px;
	top: 5px;
}

.grid-name {
	margin: 2px 0px;
	width: 100%;
	font-size: 13px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.person-frame {
	border-radius: 50%;
	border: 1px solid #999;
	width: 52px;
	height: 52px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: -4px;
}

.tab-pane {
	min-height: 550px; /* Todo: delete */
	display: none;
}

.tab-pane.active {
	display: block;
}

.dp {
	width: 100%;
}

/*.row {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),
				-1px 0 0 rgba(0,0,0,0.03),
				1px 0 0 rgba(0,0,0,0.03),
				0 1px 0 rgba(0,0,0,0.12);

}*/

/*button {
	transition: .2s;
}*/

/*
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    background-color: rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3);
}
*/

.grid-panel {
	height: 450px;
	text-align: center;
	margin: 3px;
}

.grid-panel2 {
	height: 100%;
	position: relative;
	display: inline-block; /*Ensures minimum width*/
	overflow: hidden;
	max-width: 100%;
	top: -6px;
}

.grid-side-btn {
	width: 50px;
	border: 1px solid #ccc;
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100%;
	position: relative;
	border-radius: 0;
}

.grid-side-btn:hover, .grid-side-btn:focus {
	cursor: pointer;
	border-color: #00aeef;
}

.grid-side-btn:hover i, .grid-side-btn:focus i, .grid-side-btn.active i{
	color: #00aeef;
}

.grid-side-btn i {
	position: relative;
	top: 50%;
	font-size: 50px;
	margin-top: -25px; /* To account for font height while ensuring vertical align center */
}

.grid-side-btn i, .grid-side-btn i{
	color: #ccc;
}

.grid-side-btn.left {
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	float: left;
}

.grid-side-btn.right {
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	float: right;
}

.calendar-panel {
	height: 100%;
	margin-left: 50px;
	margin-right: 50px;
	overflow: hidden;
	border: 1px solid #ccc;
	font-size: 0;
}

.calendar-header {
	height: 20px;
	white-space: nowrap;
	display: inline-block; /*Ensures minimum width*/
	border-bottom: 1px solid #ccc;
	font-size: 0;
	position: relative;
	max-width: 100%;
}

.calendar-content {
	height: 430px;
	white-space: nowrap;
	display: inline-block; /*Ensures minimum width*/
	border-bottom: 1px solid #ccc;
	font-size: 0;
	position: relative;
	max-width: 100%;
}

.calendar {
	height: 1200px;
	white-space: nowrap;
	display: inline-block; /*Ensures minimum width*/
	font-size: 0;
}

.h-col {
	height: 20px;
	border-right: 1px solid #eee;
	width: 101px;
	position: relative;
	display: inline-block;
	padding: 3px;
    font-size: 13px;
}

.h-col.time, .c-col.time {
	width: 60px;
}

.c-col {
	height: 1200px;
	border-right: 1px solid #eee;
	width: 101px;
	position: relative;
	display: inline-block;
}

.c-row {
	height: 25px;
    border-top: 1px solid #eee;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    text-align: left;
    padding: 2px;
    padding-bottom: 0;
}

#br .c-row:hover, #br .c-row:focus {
	background-color: #B3E5FC;
	opacity: 0.5;
}

.c-row.thirty {
	border-top: 1px dotted #eee;
}

.time .c-row {
    text-align: right;
    padding: 3px;
}

.time .c-row.thirty {
	border-top: none;
}

#tl {
	width: 60px;
	height: 20px;
	float: left;
	border-right: 1px solid #ccc;
}

#tr {
    height: 20px;
    overflow: scroll;
    max-width: 100%;
    margin-left: 60px;
    border-bottom: 1px solid #ccc;
}

.clear-float {
	clear: both;
}

#bl {
	width: 60px;
	width: 60px;
	height: 430px;
	float: left;
	white-space: nowrap;
	overflow-y: scroll;
	border-right: 1px solid #ccc;
}

#br {
	height: 430px;
    overflow: scroll;
    max-width: 100%;
    margin-left: 60px;
}
/*
#tr::-webkit-scrollbar, #bl::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

#br::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}
*/

#alert-panel {
	position: absolute;
	text-align: center;
	z-index: 1000;
	width: 100%;
}

.alert {
	margin: auto;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
	display: inline-block;
	font-size: 16px;
	color: #fff;
}

.alert .close {
	margin-left: 20px;
	font-size: 16px;
}

.alert.info, .blue-linear:hover, .blue-linear:focus {
	border: 1px solid #1565C0;
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}

.alert.error, #cancel-btn:hover, #cancel-btn:focus {
	border: 1px solid #C62828;
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
	background: rgb(255,48,25); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.alert.warning {
	border: 1px solid #F57C00;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
	background: rgb(255,197,120); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
}

.m-details {
	width: 100%;
	position: relative;
	z-index: 100;
	padding-right: 5px;
	/*display: flex;*/
}

.m-panel1 {
	/*padding-right: 10px;*/
	width: 100%;
}

.m-details input, .m-details textarea, .m-details .text-container {	
	border: 1px solid #aaa;
	padding: 2px 5px;
    font-size: 14px;
    min-height: 25px;
    background-color: white;
}

textarea {
	resize: vertical;
}

#m-title {
	width: 100%;
	padding: 2px 5px;
	font-size: 20px;
	font-weight: bold;
	background-color: #fff;
	max-height: 78px;
	overflow: scroll;
}

#m-date {
	width: 208px;
	margin-top: 4px;
}

#organizer {
	width: 100%;
	padding-top: 5px;
	font-size: 0;
}

#organizer img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #ccc;
}

#organizer2 {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding: 0;
	font-size: 0;
}

#organizer2 img {
	width: 40px;
	height: 40px;
	margin: 0 5px;
	border-radius: 50%;
	border: 1px solid #ccc;
}

#org-span1 {
	width: 60px;
	height: 60px;
	float: right;
	margin-left: 5px;
}

#org-span3 {
	width: 50px;
	height: 40px;
	float: left;
	margin-right: 2px;
}

#org-span2 {
	width: 100%;
    height: 40px;
    text-align: right;
    font-size: 14px;
    display: block;
}

#org-span4 {
	width: 100%;
    height: 40px;
    text-align: left;
    font-size: 14px;
    display: block;
}

#org-span2 div {
	height: 100%;
	padding-top: 15px;
}

#org-span4 div {
	height: 100%;
	padding-top: 7px;
}

#org-span4 p {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;	
}

#org-p2 {
	font-style: italic;
	font-size: 12px;
}

.m-panel2 {
	font-size: 0;
}

.m-panel2a {
	width: 218px;
	margin: 4px 0 0 0;
	display: inline-block;
}

.m-panel2 label {
	margin: 0 5px;
	font-size: 14px;
}

.m-panel2 input {
	width: 74px;
    font-size: 14px 
}

#m-location {
	width: 100%;
	margin-top: 4px;
	/*max-height: 38px;*/
	/*overflow: scroll;*/
	/*font-size: 14px;*/
}

#m-desc {
	width: 100%;
	margin-top: 4px;
	height: 100px;
}

@media (max-width: 1024px) { /* Phones and tablets */
	
}

@media (max-width: 768px) { /* Phones */
	.container {
		margin-left: 5px;
		margin-right: 5px;
	}

	.m-details {
		padding-right: 0;
	}

	.tab-container {
		padding-left: 0;
	}
}

/* Place holder for all contentEditable */
[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-ph);
  color: #aaa;
}

/* ~~~~~ Start of set placeholder color ~~~~~ */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #aaa;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #aaa;
}

/* ~~~~~ End of set placeholder color  ~~~~~ */

#test-div {
	/*display: none*/ /*Todo: delete me*/
	position: absolute;
	bottom: 5px;
	right: 5px;
	border: 1px solid gray;
	margin: 5px;
	padding: 5px;
	z-index: 1000;
	background-color: gray;
	display: none;
}

#add-people {
	padding: 2px 5px;
    color: white;
    border: 1px solid;
    height: 27px;
    font-size: 20px;
    float: left;
    /*border: 1px solid #1565C0;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}

#guests-content {
	padding: 0 10px;
}

.guests-header input {
	font-size: 14px;
    height: 100%;
    position: relative;
    width: 100%;
    border: none;
    background-color: transparent;
    padding-left: 10px;
}

.guests-header {
	width: 100%;
    border: 1px solid #ccc;
    height: 30px;
    font-size: 0;
    display: flex;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.guests-panel {
	margin-bottom: 20px;
}

.guests-panel .title {
	font-weight: bold;
    margin: 20px 0 2px 0;
    padding-left: 10px;
}

.guests-row .name {
	font-weight: normal;
    margin-left: 2px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.guests-header .fa-search {
	font-size: 14px;
    background-color: white;
    border-radius: 0;
    color: #ccc;
    background-color: transparent;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: default;
}

.guests-row {
	width: 100%;
	display: flex;
	padding: 7px 0 2px 0;
	border-bottom: 1px solid #ccc;
}

.guests-row:hover, .guests-row:focus {
	background-color: #ddd
}

.guests-row i {
	float: left;
	width: 20px;
	text-align: center;
	height: 20px;
	min-width: 20px;
	font-size: 14px;
	padding: 0;
	cursor: pointer;
	padding-top: 1px;
	border-radius: 50%;
	color: #aaa;
	margin-right: 2px;
}

.guests-row .fa-close:hover, .guests-row .fa-close:focus {
	color: #C62828;
}