#profile-page-pic {
	width: 100px;
	height: 100px;
}

#profile-page-name {
	text-align: center;
	width: 500px;
	height: 30px;
}
.grid-date-panel {
	width: 80px;
    height: 80px;
    float: left;
    position: relative;
    text-align: center;
    margin: 3px;
    padding: 0;
    margin-left: 10px;
}
.dp {
	width: 100%;
}

.grid-top-left .btn {
    height: 50px;
}
#availability{
	font-weight: bold;
	font-size: 20px;
	width:100%;
	text-align: center;
	margin-top: 36px;
}
.grid-with-top{
	width:768px;
}

