html, body {
    margin: 0px;
    padding: 0px;
    width: auto;
/*    overflow: hidden;
*/}

body {
	background-color: #e7e9ec;
}


/*~~~~~~ Start of debug CSS ~~~~~~*/
/* Comment out this section after debugging */

/*div {
	border: 1px solid #ccc;
}

.row, .row > div {
	min-height: 50px;
}*/

/*~~~~~~ End of debug CSS ~~~~~~*/